<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog meiya-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title" id="myModalLabel">头像更改</h4>
      </div>
      <div class="modal-body">
        <p>仅支持 JPG、PNG、BMP，文件小于 1MB。</p>
        <%= form_tag("/artists/upload_avatar", method: "post", class: "form-horizontal", role: "form", multipart: true, id: 'avatar_form') do %>
          <%= file_field_tag 'image', id: 'inputImage'  %>
          <%= hidden_field_tag 'xposition', 10, {id: 'xposition'}  %>
          <%= hidden_field_tag 'yposition', 10, {id: 'yposition'}  %>
          <%= hidden_field_tag 'avatar_width', 180, {id: 'avatar_width'}  %>
        <% end %>
      </div>

      <div class="avatar-panel">
        <div class="col-sm-7">
            <div class="eg-wrapper">
              <img id="uploadedImage" class="cropper" width="300" height="300" src="/assets/avatar_default.jpg">
            </div>
            <div class="defaultAvatarNotice"><h3>预览图</h3></div>
        </div>
        <div class="col-sm-3">
            <div class="eg-preview clearfix">
              <div class="preview preview-lg">
              </div>
              <div class="defaultPreviewNotice"><h3>预览头像</h3></div>
            </div>
        </div>
      </div>


      <div class="avatar-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" id="saveAvatarBtn" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

