<h3>修改个人资料</h3>

<%= form_tag("/artists/#{@artist_id}", method: "post") do %>
  <input name="_method" type="hidden" value="patch">
  <input name="utf8" type="hidden" value="✓">
  <%= hidden_field_tag 'artist[id]', @artist_id  %>

  <label class="control-label" for="image">*昵称：</label>
  <%= text_field_tag 'artist[nick]', 'Linda妞', class: "meiya-form-gaptext" %><br />

  <label class="control-label" for="image">*性别：</label>
  <input type="radio" name="artist[gender]" id="male" value="1" />
  <label for="male">男</label>&nbsp;&nbsp;
  <input type="radio" name="artist[gender]" id="female" value="2" checked="true" />
  <label for="female">女</label><br />

  <label class="control-label" for="image">*联系电话：</label>
  <%= text_field_tag 'artist[telephone]', '15026612137', class: "meiya-form-gaptext" %><br />

  <label class="control-label" for="image">邮箱地址：</label>
  <%= text_field_tag 'artist[email]', 'meiya@meiya.me', class: "meiya-form-gaptext" %><br />

  <label class="control-label" for="image">*地区：</label>
<select id="province_code" name="artist[province]"><option selected="selected" value="110000">北京市</option>
<option value="120000">天津市</option>
<option value="130000">河北省</option>
<option value="140000">山西省</option>
<option value="150000">内蒙古自治区</option>
<option value="210000">辽宁省</option>
<option value="220000">吉林省</option>
<option value="230000">黑龙江省</option>
<option value="310000" selected="true">上海市</option>
<option value="320000">江苏省</option>
<option value="330000">浙江省</option>
<option value="340000">安徽省</option>
<option value="350000">福建省</option>
<option value="360000">江西省</option>
<option value="370000">山东省</option>
<option value="410000">河南省</option>
<option value="420000">湖北省</option>
<option value="430000">湖南省</option>
<option value="440000">广东省</option>
<option value="450000">广西壮族自治区</option>
<option value="460000">海南省</option>
<option value="500000">重庆市</option>
<option value="510000">四川省</option>
<option value="520000">贵州省</option>
<option value="530000">云南省</option>
<option value="540000">西藏自治区</option>
<option value="610000">陕西省</option>
<option value="620000">甘肃省</option>
<option value="630000">青海省</option>
<option value="640000">宁夏回族自治区</option>
<option value="650000">新疆维吾尔自治区</option>
<option value="710000">台湾省</option>
<option value="810000">香港特别行政区</option>
<option value="820000">澳门特别行政区</option></select>
&nbsp;&nbsp;
<select id="city_code" name="artist[city]"><option value="">选择区县</option>
<option value="310101">黄浦区</option>
<option value="310104">徐汇区</option>
<option value="310105">长宁区</option>
<option value="310106">静安区</option>
<option value="310107">普陀区</option>
<option value="310108">闸北区</option>
<option value="310109">虹口区</option>
<option value="310110">杨浦区</option>
<option value="310112">闵行区</option>
<option value="310113">宝山区</option>
<option value="310114">嘉定区</option>
<option value="310115">浦东新区</option>
<option value="310116">金山区</option>
<option value="310117">松江区</option>
<option value="310118">青浦区</option>
<option value="310120">奉贤区</option>
<option value="310230">崇明县</option></select><br />

  <label class="control-label" for="image">*详细地址：</label>
  <%= text_field_tag 'artist[address]', 'Linda妞', class: "meiya-form-gaptext" %><br />

  <label class="control-label" for="image">认证：</label>
  <span class="label label-warning"><%= "未认证" %></span><br />

  <label class="control-label" for="image">*生日：</label>
  <%= text_field_tag 'artist[birthday]', '日期选择', class: "meiya-form-gaptext" %><br />

  <label class="control-label" for="image">*从业时间：</label>
  <%= text_field_tag 'artist[from]', '1985', class: "meiya-form-gaptext" %><br />

  <label class="control-label" for="image">*个人介绍：</label>
  <%= text_field_tag 'artist[remark]', '专业化妆师，欢迎朋友们联系我。', class: "meiya-form-gaptext" %><br />

  <br /><br />
  <div class="control-group">
    <div class="controls">
      <%= link_to '取消', artists_path, class: "btn btn-primary" %>&nbsp;&nbsp;
      <button type="submit" class="btn btn-success">保存</button>
    </div>
  </div>
<% end %>
